@model IEnumerable<JobSearchWeb.Models.JobCategoryTable>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="section-top-border">
        <h3 class="mb-30  text-center">Categories</h3>

        <p>
            @Html.ActionLink("New Category", "Create", null, new { @class = "genric-btn primary circle" })
        </p>

        <div class="progress-table-wrap">
            <div class="progress-table">


                <div class="table-head">
                    <div class="serial">Sr.No</div>
                    <div class="country">Category</div>
                    <div class="country">Description</div>
                    <div class="visit">Action</div>
                </div>

                @foreach (var item in Model)
                {
                    <div class="table-row">

                        <div class="serial">01</div>
                        <div class="country">@Html.DisplayFor(modelItem => item.JobCategory)</div>
                        @*<div class="">@Html.DisplayNameFor(modelItem => item.Description)</div>*@
                    <div class="country">@Html.DisplayFor(modelItem => item.Description) </div>

                        <div class="visit">
                            @Html.ActionLink("Edit", "Edit", new { id = item.JobCategoryID }, new { @class = "genric-btn warning circle mr-4" })

                            @Html.ActionLink("Details", "Details", new { id = item.JobCategoryID }, new { @class = "genric-btn info circle mr-4" })

                            @Html.ActionLink("Delete", "Delete", new { id = item.JobCategoryID }, new { @class = "genric-btn danger circle" })
                        </div>
                   </div>

                }


                    </div>
                </div>
    </div>
</div>


                    @*<table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.JobCategory)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.JobCategory)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.JobCategoryID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.JobCategoryID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.JobCategoryID })
                                </td>
                            </tr>
                        }

                    </table>*@
