@model JobSearchWeb.Models.JobNatureTable

@{
    ViewBag.Title = "Edit";
}

<div class="section-top-border">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <h3 class="mb-30 text-center">Edit Job Nature</h3>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>JobNatureTable</h4>
                    <hr />*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.JobNatureID)

                    <div class="form-group" style="margin-left:310px">
                        @Html.LabelFor(model => model.JobNature, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.JobNature, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.JobNature, "", new { @class = "text-danger" })
                        </div>
                    </div>
                     
                    <div class="form-group" style="margin-left:310px">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save Change" class="genric-btn primary radius mr-4" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "genric-btn info radius" })
                        </div>
                    </div>
                </div>
            }
            </div></div></div>
            @*<div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@
